* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: --;
    font-size: 32px;
}

@font-face{
    font-family: 'Sanes';
    font-style: normal;
    font-weight: 300;
    src: url(s/Comfortaa/v40/Comic_Sans.ttf)format('truetype')

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Sanes;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #840e9a, #43074e)
}

ul{
    position: relative;
    transform: skewY(-15deg)
}
ul.second{
    position: relative;
    transform: skewY(-15deg);
    left: 15vh;
}

ul li{
    position: relative;
    list-style: none;
    width: 250px;
    background: #b50f9c;
    padding: 15px;
    z-index: var(--i);
    transition: .5s
}

ul li img {
    position:absolute;
    left: -41px;
    bottom: 4px;
    width: 41px;
    height: 55px;
    transform-origin: right;
    transform: skewY(45deg)
}

ul li:hover{
    background: #ff72de;
    transform: translateX(25px);
    box-shadow: inset 0 0 50px       #a000b5, inset 20px 0 80px     #ff72de, inset -20 0 80px     #a000b5, inset 20px 0 300px
    #ff72de, inset -20px 0 300px
    #a000b5, 0 0 50px #ff72de,-10px 0 80px #a000b5
}

ul li:hover::before{
    background: #a000b5;
    box-shadow: 0px 0px 10px #fff;
}
ul li:hover::after{
    background: #a000b5;
    box-shadow: 0px 0px 10px #fff;
}


ul li::before{
    content: "";
    position: absolute;
    top: 0px;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #ff72de;
    transform-origin: right;
    transform: skewY(45deg);
    transition: .5sec;
    box-shadow: 0px 0px 1px #fff;
}
ul li::after{
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #ff72de;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: .5sec;
    box-shadow: 0px 0px 1px #fff;

}

ul li::before{
    content: "";
    position: absolute;
    top: 0px;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #890084;
    transform-origin: right;
    transform: skewY(45deg);
    transition: .5sec;
    box-shadow: 0px 0px 1px #fff;
}
ul li::after{
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #890084;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: .5sec;
    box-shadow: 0px 0px 1px #fff;
}

ul li a{
    text-decoration: inherit;
    color: #a700ff;
    display: block;
    letter-spacing: .05em;
    transition: .5s;
}

ul li:hover a {
    color: #fff;
}

ul li:last-child::after{
    box-shadow: -100px 100px 20px rgb(10,10,10,.25)
}



